<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a id="saved" href="/saved">Saved Articles</a></li>
      </ul>
    </div>
</nav>
<div class="jumbotron">
    <h1 class="jumbotext">Saved Articles</h1>
</div>
<div id="wrapper">
    <div id="savedArticles"></div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="note-title" class="modal-title"></h3>
      </div>
      <div id="note-body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" id="modal-btn" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>